html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    font-family: proxima nova,"Helvetica Neue",Helvetica,sans-serif;
    background-color: #111d2d;
}
img{
    max-width: 100%;
}

p{
    font-size: 1em;
}
.site-header{
background-color: #ffffff;
}
.gamer{
    max-width: 30%;
    margin-top: 1.1em;
   
}
.gamercontrol{
    max-width: 25%;
    margin-top: 1.1em;  
}

.container{
    max-width: 100%;
    margin: 0 auto;
}
.bar{
    background-color: #fe8a65;
    overflow: hidden;
}
@media(min-width:768px){  
    .site-header{
        padding: 0.5em 0.5em;
        margin: 0;
    
       }
}
.main-nav{
    padding: 1.25em;
}
.main-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.375em;
    padding: 1.25em;
    text-align: center;
    display: block;
    transition: background-color 0.3s ease-in-out;
  }

@media(max-width:568px){
    .bar {
        float: right;

      }
      .gamercontrol{
         width: 20%;
         float: right;
      }
      .ma
      


}
@media(min-width:776px){
    .gamercontrol{
        margin-left: auto;
      
    }
    .main-nav a{
        display: inline;
    }
}

 

    